.thanks {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thanks img {
    width: 7rem;
    margin-bottom: 2rem;
}

.thanks h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    color: hsl(278, 68%, 11%);
}

.thanks p {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: lightslategrey;
    margin-bottom: 3rem;
}

.thanks button {
    width: 25rem;
    font-size: 1.2rem;
    padding: 1.2rem 0;
}

.thanks button:hover {
    background-color: hsl(278, 62%, 28%);
}

@media screen and (min-width:1440px) {
    .thanks {
        width: 45%;
    }
}